<div class="show-page">

<h2><%= @blog.title %></h2>

    <div class="blog-content">
        <p><%= @blog.content %></p>
    </div>
    <div class="page-controls">
        <p><%= link_to 'Home Page', blogs_path %></p>
        <p><%= link_to 'Update Blog', edit_blog_path %> </p>
        <%= button_to 'Delete Blog', delete_blog_path, method: :delete %>
    </div>
</div>
